/*Montserrat*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

html {
  --secondary: #1e1e1e;
  --primary: #111111;
  --white: #ffffff;
  --accent: #9d8df1;
  --greyhighlight: #4d4d4d;
  --inactive: #737983;
}

.app_bodyWithSideBar {
  display: flex;
}

@media screen and (max-width: 600px) {
  .app_bodyWithSideBar {
    flex-direction: column-reverse;
  }
}
