/*Montserrat*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

html {
  --blackSecondary: #1e1e1e;
  --blackPrimary: #111111;
  --white: #ffffff;
  --purple: #9d8df1;
  --greyhighlight: #4d4d4d;
  --lessImportantText: #757f91;
}

.app_bodyWithSideBar {
  display: flex;
}
