.home {
  height: calc(100vh - 4rem);
  width: calc(100vw - 18rem);
  color: var(--white);
  background-color: var(--primary);
  transition: all 0.3s;
  font-family: Montserrat, sans-serif;
  position: relative;
}

.home__scrollShade {
  position: absolute;
  bottom: 0rem;
  height: 2.5rem;
  width: 100%;
  background-image: linear-gradient(
    to top,
    rgba(17, 17, 17, 1),
    rgba(17, 17, 17, 0)
  );
}

.home__cardContainer {
  height: 100%;
  width: 100%;
  color: var(--white);
  background-color: var(--primary);
  transition: all 0.3s;
  font-family: Montserrat, sans-serif;
  display: flex;
  flex-wrap: wrap;
  overflow-y: scroll;
}

.home__cardContainer::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
.home__cardContainer::-webkit-scrollbar-track {
  background: var(--secondary);
}
.home__cardContainer::-webkit-scrollbar-thumb {
  background: var(--greyhighlight);
  border-radius: 0.3rem;
}

@media screen and (max-width: 1920px) {
  .home__cardContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-auto-rows: 22rem;
    overflow-y: scroll;
  }
}

@media screen and (max-width: 1620px) {
  .home__cardContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-rows: 22rem;
    overflow-y: scroll;
  }
}

@media screen and (max-width: 1408px) {
  .home {
    width: calc(100vw - 15rem);
  }

  .home__cardContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 22rem;
    overflow-y: scroll;
  }
}

@media screen and (max-width: 600px) {
  .home {
    width: 100vw;
    height: calc(100vh - 8rem);
  }

  .home__cardContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-y: scroll;
  }
}
