.home {
  height: calc(100vh - 4rem);
  width: calc(100vw - 18rem);
  color: var(--white);
  background-color: var(--primary);
  transition: all 0.3s ease-in-out;
  font-family: Montserrat, sans-serif;
}

@media screen and (max-width: 1400px) {
  .home {
    width: calc(100vw - 15rem);
  }
}

@media screen and (max-width: 600px) {
  .home {
    width: 100vw;
    height: calc(100vh - 8rem);
  }
}
