.following {
  height: calc(100vh - 7.5rem);
  width: 100%;
  overflow-y: scroll;
}
.following::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}
.following::-webkit-scrollbar-track {
  background: var(--secondary);
}
.following::-webkit-scrollbar-thumb {
  background: var(--greyhighlight);
  border-radius: 0.3rem;
}
